/*  NOTES

- fonts:
  - Cormorant Garamond - (body)
    2 styles: Italic: 0 | Weight: 300 – 700

  - Allison Tessa Oblique - (headings) [To Buy: myfonts 14.51€]

  — Alkalami (he doesn't like Allison)

  - Baskerville - Regular (copyright text)
    3 styles: Regular 400 | Bold 700 | Regular 400 italic

  - Amiri Qu'ran - Regular 400 (description text)

  - Anaheim (paragraph text)
    2 styles: Italic: 0 | Weight: 400 – 800




- Colors:
  - black - #000000
  - black grey - #1E1E1E
  - white - #FFFFFF

*/

/* Universal Reset */
* {
  padding: 0;
  /*box-sizing: border-box; */
}

/* Temporary Styles */

* /*{
  padding: 0.5rem;
  border: 2px solid rgb(200,200,200);
} */

body {
  padding: 1.5%;   }



/* Utility Classes */
.tall-50  { min-height: 50vh; }
.tall-60  { min-height: 60vh; }
.tall-70  { min-height: 70vh; }
.tall-80  { min-height: 80vh; }
.tall-90  { min-height: 90vh; }
.tall-100 { min-height: 100vh;}

.relative { position: relative; }

.padded     { padding: 5%;   }
.padded-lg  { padding: 10%;  }
.padded-0   { padding: 0;    }
.padded-1   { padding: 1rem; }
.padded-2   { padding: 2rem; }

.grid.padded-2 { padding: 2rem; }

.padded-t  { padding-top: 5%;    }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%;   }
.padded-r  { padding-right: 5%;  }

.padded-0   { padding: 0;        }
.padded-b-0 { padding-bottom: 0; }
.margin-b-0 { margin-bottom: 0;  }

.margin-lr   { margin-left: 1rem; margin-right: 1rem;}

.bg-featured  { background-color: #1C2A2C; }
.bg-dark      { background-color: #24282B; }

.light-text   { color: white; }

.text-xl { font-size: 8rem; }

.left   { text-align: left;   }
.center { text-align: center; }
.right  { text-align: right;  }

.italic { font-style: italic; }

.logo {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-left: 1rem;
  margin-bottom: 0;
}

.card {
  /* border:1px solid black; */
  /* top right bottom left */
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  max-width: 25em;
  /* box-shadow: 2px 2px 4px #888888; */
}

.space {
  word-spacing: 25px;
}

.inline-block {
  display: inline-block;
}

.letter { letter-spacing: 0.03em;}


/* General Typography & Universal Styles */
body {
  font-family: 'Cormorant Garamond', serif;
  color: #1E1E1E;
}

header a {
  display: inline-block;
  color: inherit;
  font-weight: 200;
  text-decoration: none;
  padding: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  padding: 1.25rem;
  font-size: 1.1rem;
}

nav a .contact {
  display: inline-block;
}

footer a:hover {
  color: rgb(179, 107, 97);
}

section a {
  font-family: 'Anaheim', sans-serif;
}


h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 2.5;
}

h1 span {
   font-family: 'Alkalami', serif;
   display: block;
   font-size: 4rem;
   line-height: 1;
}

h2 {
  font-size: 2rem;
  font-family: 'Alkalami', serif;
  font-weight: bold;
}

h3 { text-align: center; }


p {
  font-family: 'Anaheim', sans-serif;
}

footer p {
  font-family: 'Libre Baskerville', serif;
  opacity: 0.8;
  font-size: 0.9rem;
  margin-left: 1rem;
}


/* Header & Footer */
/*  Section  */
/*section {
  border: 1px solid black;
} */

/* Icon Grid Section  */
.fa-brands {
  font-size: 2.5rem;
}

/* Hamburger Button  */
.hamburger-button {
  cursor: pointer;
  padding: 0 0.5rem;
  display: inline-block; /*makes them stack in line of each other */
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 0.8;
  margin-top: -0.7rem;
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  z-index: 1;
}

.hamburger-button.active {
  color: #1E1E1E;
}

.mobile-menu {
  background-color: #FFFFFF;
  display:none;
  padding: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.mobile-menu a {
  display: block; /*makes them stack on top of each other */
  color: inherit;
  padding: 5vh 5%;
  font-weight: normal;
  font-size: 2.5rem;
  text-decoration: none;
}



/* Images & Background Images */
.padded-img { padding: 2.5%; }
.padded-bottom { padding: 5%; }


img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-image: url('/img/placeholder.jpg');
}

.bg-michael {
  background-size: cover;
  background-position: center;
  background-image: url('/img/wilhelm_brasse_portret_en.jpg');
  float: left;
}

.bg-art {
  background-size: cover;
  background-position: center;
  background-image: url('/img/placeholder.jpg');
}

/* Slider */
.last-post {
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  top: 55%;
  left: 1.5rem;
}

.next-post {
  font-size: 4rem;
  position: absolute;
  top: 55%;
  right: 1.5rem;
}

/* Default Responsive Styles (Dekstop and below) */
/* Mobile Styles */
/* Gridlex Media Queries
@media (max-width: 36em)	Max 576px	  _xs-*
@media (max-width: 48em)	Max 768px	  _sm-*
@media (max-width: 64em)	Max 1024px	_md-*
@media (max-width: 80em)	Max 1280px	_lg-*
*/

.mob-show {
  display: none;
}

@media (max-width: 36em){
  .tall-40  { min-height: 40vh; }
  .margin-lr   { margin-left: 0; margin-right: 0;}
  .padded { padding: 0; }
  .banner { line-height: 6rem; }
  .date {
    margin: 1rem;
    margin-left: 8rem;
  }
  .mob-hide { display: none; }
  .mob-show { display: block;}

  /* Slider */
.last-post {
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  top: 90%;
  left: 1.5rem;
}

.next-post {
  font-size: 4rem;
  position: absolute;
  top: 90%;
  right: 1.5rem;
}

  h2 {
    font-size: 3rem;
    font-weight: bold;
   /* opacity: 85%; */
    margin: 0.5rem;
  }

  section p {
    font-size: 1.5rem;
  }
  }
